	<!--- LINKS FAVICON --->
    <link rel="shortcut icon" href="{ROOT}/src/imagens/icone.png">
  <link rel="apple-touch-icon" href="{ROOT}/src/imagens/logo.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{ROOT}/src/imagens/logo.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{ROOT}/src/imagens/logo.png">
<!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{ROOT}/src/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{ROOT}/src/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{ROOT}/src/css/AdminLTE.min.css">
  <link rel="stylesheet" href="{ROOT}/src/css/AdminLTE.min.css">
 <!-- Tema Azul -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{ROOT}/src/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{ROOT}/src/bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{ROOT}/src/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{ROOT}/src/plugins/iCheck/all.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{ROOT}/src/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{ROOT}/src/plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="{ROOT}/src/bower_components/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="{ROOT}/src/bower_components/Ionicons/css/ionicons.min.css">
   <!-- DataTables -->
  <link rel="stylesheet" href="{ROOT}/src/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="{ROOT}/src/css/skins/skin-blue.css">
  <!-- Pace style -->
  <link rel="stylesheet" href="{ROOT}/src/plugins/pace/pace.min.css">
  <link rel="stylesheet" href="{ROOT}/src/plugins/bootstrap-switch/css/bootstrap-switch.css">
  
  <style type="text/css">
  body,td,th {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
.btn-full{width:100% !important; background:#EBEBEB !important; color:#139300 !important; font-weight:bold !important; border:3px dashed #139300 !important;}
.btn-full:hover{background:#139300 !important; color:#FFFFFF !important;  border:3px solid #139300 !important;}
.wysihtml5-toolbar{display:none !important;}
  </style>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
    <link rel="stylesheet" type="text/css" href="{ROOT}/src/plugins/bootstrap-duallistbox-master/bootstrap-duallistbox.css">
    <link type="text/css" rel="stylesheet" href="{ROOT}/src/plugins/jquery-file-upload/css/jquery.fileupload.css">
    <link type="text/css" rel="stylesheet" href="{ROOT}/src/plugins/jquery-file-upload/css/jquery.fileupload-ui.css">
    <link type="text/css" rel="stylesheet" href="{ROOT}/src/plugins/jquery-file-upload/css/blueimp-gallery.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <script src="{ROOT}/src/plugins/bootstrap-duallistbox-master/jquery.bootstrap-duallistbox.js"></script>
    <script src="{ROOT}/src/js/jquery.maskMoney.min.js"></script>
