  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Desenvolvido por <a href="https://orbitdigital.com.br">Orbit Digital</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {DATA}.</strong> Todos os Direitos Reservados.
  </footer>