<!-- INCLUSÃO DO JQUERY -->
<script src="{ROOT}/src/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{ROOT}/src/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="{ROOT}/src/js/app.min.js"></script>
<!-- INCLUSÃO DOS SCRIPTS COMUNS -->
<script src="{ROOT}/src/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{ROOT}/src/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script src="{ROOT}/src/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->

<!-- date-range-picker -->
<script src="{ROOT}/src/bower_components/moment/min/moment.min.js"></script>
<script src="{ROOT}/src/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="{ROOT}/src/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="{ROOT}/src/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="{ROOT}/src/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="{ROOT}/src/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="{ROOT}/src/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->

<script src="{ROOT}/src/plugins/input-mask/jquery.inputmask.js"></script>
<script src="{ROOT}/src/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="{ROOT}/src/plugins/input-mask/jquery.inputmask.numeric.extensions.js"></script>
<script src="{ROOT}/src/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="{ROOT}/src/bower_components/moment/min/moment.min.js"></script>

<script src="{ROOT}/src/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{ROOT}/src/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{ROOT}/src/dist/js/demo.js"></script>
<!-- Page script -->
<!-- Bootstrap WYSIHTML5 -->
<script src="{ROOT}/src/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- bootstrap time picker -->
<script src="{ROOT}/src/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="{ROOT}/src/plugins/bootstrap-duallistbox-master/jquery.bootstrap-duallistbox.js"></script>
<script src="{ROOT}/src/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

<script>
var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox();

  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $('.textarea').wysihtml5()
  })

  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
	
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()
	
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })


    //Timepicker
    $('.timepicker').timepicker({
      showInputs: true
    })
  })

  $(function () {
    $('#example1').DataTable()
  })

  </script>

<!-- PACE -->
<script src="{ROOT}/src/plugins/pace/pace.min.js"></script>
<script src="{ROOT}/src/js/dashboard.js"></script> 
<script src="{ROOT}/src/js/scripts.js"></script>  
<script type="text/javascript" src="{ROOT}/src/js/jquery.validate.js"></script>
<!-- INCLUSÃO DO JQUERY.MASKEDINPUT -->
<script type="text/javascript" src="{ROOT}/src/js/jquery.maskedinput.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/vendor/jquery.blueimp-gallery.min.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.fileupload-video.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<script src="{ROOT}/src/plugins/jquery-file-upload/js/cors/jquery.xdr-transport.js"></script>
<script src="{ROOT}/src/js/form-multiple-file-upload.js"></script>
<script language="javascript">
//-----------------------------------------------------
//Funcao: MascaraMoeda
//Sinopse: Mascara de preenchimento de moeda
//Parametro:
//   objTextBox : Objeto (TextBox)
//   SeparadorMilesimo : Caracter separador de milésimos
//   SeparadorDecimal : Caracter separador de decimais
//   e : Evento
//Retorno: Booleano
//Autor: Gabriel Fróes - www.codigofonte.com.br
//-----------------------------------------------------
function MascaraMoeda(objTextBox, SeparadorMilesimo, SeparadorDecimal, e){
    var sep = 0;
    var key = '';
    var i = j = 0;
    var len = len2 = 0;
    var strCheck = '0123456789';
    var aux = aux2 = '';
    var whichCode = (window.Event) ? e.which : e.keyCode;
    if (whichCode == 13) return true;
    key = String.fromCharCode(whichCode); // Valor para o código da Chave
    if (strCheck.indexOf(key) == -1) return false; // Chave inválida
    len = objTextBox.value.length;
    for(i = 0; i < len; i++)
        if ((objTextBox.value.charAt(i) != '0') && (objTextBox.value.charAt(i) != SeparadorDecimal)) break;
    aux = '';
    for(; i < len; i++)
        if (strCheck.indexOf(objTextBox.value.charAt(i))!=-1) aux += objTextBox.value.charAt(i);
    aux += key;
    len = aux.length;
    if (len == 0) objTextBox.value = '';
    if (len == 1) objTextBox.value = '0'+ SeparadorDecimal + '0' + aux;
    if (len == 2) objTextBox.value = '0'+ SeparadorDecimal + aux;
    if (len > 2) {
        aux2 = '';
        for (j = 0, i = len - 3; i >= 0; i--) {
            if (j == 3) {
                aux2 += SeparadorMilesimo;
                j = 0;
            }
            aux2 += aux.charAt(i);
            j++;
        }
        objTextBox.value = '';
        len2 = aux2.length;
        for (i = len2 - 1; i >= 0; i--)
        objTextBox.value += aux2.charAt(i);
        objTextBox.value += SeparadorDecimal + aux.substr(len - 2, len);
    }
    return false;
}
</script>