  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->
        <li class="{MENU1}"><a href="{ROOT}/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        
        <li class="treeview {MENU5}">
          <a href="#"><i class="fa fa-users"></i> <span>Clientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU5_1}"><a href="{ROOT}/usuarios">Todos os Clientes</a></li>
            <li class="{MENU5_2}"><a href="{ROOT}/add-usuario">Adicionar Cliente</a></li>
			<li class="{MENU5_3}"><a href="{ROOT}/alteracoes">Alterações Solicitadas</a></li>
          </ul>
        </li>
        <!--
        <li class="treeview {MENU2}">
          <a href="#"><i class="fa fa-building-o"></i> <span>Empresas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{MENU2_1}"><a href="{ROOT}/empresas">Todas as Empresas</a></li>
            <li class="{MENU2_2}"><a href="{ROOT}/add-empresa">Adicionar Empresa</a></li>
          </ul>
        </li>
        -->
       
        <li><a href="{ROOT}/dashboard.php?logout=logout"><i class="fa fa-sign-out"></i> <span>Desconectar</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>