﻿<div class="modal fade modal-slideright" id="modal-slideright" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="c-primary m-b-30">Tem certeza que quer excluir?</h2>
					    <form action="{ROOT}/modulos/delete.php"method="post">
							<input type="hidden" name="action" value="{ACTION_DELETE}" />
							<input type="hidden" name="id" id="id_excluir" />
                      		<button type="submit" class="btn btn-primary btn-embossed btn-block">Sim, eu tenho</button>
						</form>
                      <button type="button" data-dismiss="modal" class="btn btn-white btn-block">Oops, agora não!</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">©</span> {DATA} </span>
      <span>FollowUp</span>.
      <span>Todos os Direitos Reservados. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span>Desenvolvido por <a href="https://orbitdigital.com.br" class="m-r-10">Orbit Digital</a></span>
    </p>
  </div>
</div>
