﻿<script src="{ROOT}/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script>
$( document ).ready(function() {
    $('.excluir').click(function(){
        var id_excluir = $(this).attr('id');
        $("#id_excluir").val(id_excluir);
    });
});
	</script>
	
    <script src="{ROOT}/assets/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="{ROOT}/assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="{ROOT}/assets/plugins/gsap/main-gsap.min.js"></script>
    <script src="{ROOT}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{ROOT}/assets/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="{ROOT}/assets/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
    <script src="{ROOT}/assets/plugins/translate/jqueryTranslator.min.js"></script> <!-- Translate Plugin with JSON data -->
    <script src="{ROOT}/assets/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
    <script src="{ROOT}/assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="{ROOT}/assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="{ROOT}/assets/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
    <script src="{ROOT}/assets/plugins/retina/retina.min.js"></script> <!-- Retina Display -->
    <script src="{ROOT}/assets/plugins/select2/select2.min.js"></script> <!-- Select Inputs -->
    <script src="{ROOT}/assets/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
    <script src="{ROOT}/assets/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
    <script src="{ROOT}/assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
    <script src="{ROOT}/assets/js/builder.js"></script> <!-- Theme Builder -->
    <script src="{ROOT}/assets/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
    <script src="{ROOT}/assets/js/application.js"></script> <!-- Main Application Script -->
    <script src="{ROOT}/assets/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
    <script src="{ROOT}/assets/js/widgets/notes.js"></script> <!-- Notes Widget -->
    <script src="{ROOT}/assets/js/quickview.js"></script> <!-- Chat Script -->
    <script src="{ROOT}/assets/js/pages/search.js"></script> <!-- Search Script -->

    <!-- BEGIN PAGE SCRIPT -->
    <script src="{ROOT}/assets/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="{ROOT}/assets/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script> <!-- Inline Edition X-editable -->
    <script src="{ROOT}/assets/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js"></script> <!-- Context Menu -->
    <script src="{ROOT}/assets/plugins/multidatepicker/multidatespicker.min.js"></script> <!-- Multi dates Picker -->
    <script src="{ROOT}/assets/js/widgets/todo_list.js"></script>
    <script src="{ROOT}/assets/plugins/metrojs/metrojs.min.js"></script> <!-- Flipping Panel -->
    <script src="{ROOT}/assets/plugins/charts-chartjs/Chart.min.js"></script>  <!-- ChartJS Chart -->
    <script src="{ROOT}/assets/plugins/charts-highstock/js/highstock.min.js"></script> <!-- financial Charts -->
    <script src="{ROOT}/assets/plugins/charts-highstock/js/modules/exporting.min.js"></script> <!-- Financial Charts Export Tool -->
    <script src="{ROOT}/assets/plugins/maps-amcharts/ammap/ammap.min.js"></script> <!-- Vector Map -->
    <script src="{ROOT}/assets/plugins/maps-amcharts/ammap/maps/js/worldLow.min.js"></script> <!-- Vector World Map  -->
    <script src="{ROOT}/assets/plugins/maps-amcharts/ammap/themes/black.min.js"></script> <!-- Vector Map Black Theme -->
    <script src="{ROOT}/assets/plugins/skycons/skycons.min.js"></script> <!-- Animated Weather Icons -->
    <script src="{ROOT}/assets/plugins/simple-weather/jquery.simpleWeather.js"></script> <!-- Weather Plugin -->
    <script src="{ROOT}/assets/js/widgets/widget_weather.js"></script>
    <script src="{ROOT}/assets/js/pages/dashboard.js"></script>
	<script src="{ROOT}/assets/plugins/bootstrap/js/jasny-bootstrap.min.js"></script> <!-- File Upload and Input Masks -->
    <script language="javascript">
//-----------------------------------------------------
//Funcao: MascaraMoeda
//Sinopse: Mascara de preenchimento de moeda
//Parametro:
//   objTextBox : Objeto (TextBox)
//   SeparadorMilesimo : Caracter separador de milésimos
//   SeparadorDecimal : Caracter separador de decimais
//   e : Evento
//Retorno: Booleano
//Autor: Gabriel Fróes - www.codigofonte.com.br
//-----------------------------------------------------
function MascaraMoeda(objTextBox, SeparadorMilesimo, SeparadorDecimal, e){
    var sep = 0;
    var key = '';
    var i = j = 0;
    var len = len2 = 0;
    var strCheck = '0123456789';
    var aux = aux2 = '';
    var whichCode = (window.Event) ? e.which : e.keyCode;
    if (whichCode == 13) return true;
    key = String.fromCharCode(whichCode); // Valor para o código da Chave
    if (strCheck.indexOf(key) == -1) return false; // Chave inválida
    len = objTextBox.value.length;
    for(i = 0; i < len; i++)
        if ((objTextBox.value.charAt(i) != '0') && (objTextBox.value.charAt(i) != SeparadorDecimal)) break;
    aux = '';
    for(; i < len; i++)
        if (strCheck.indexOf(objTextBox.value.charAt(i))!=-1) aux += objTextBox.value.charAt(i);
    aux += key;
    len = aux.length;
    if (len == 0) objTextBox.value = '';
    if (len == 1) objTextBox.value = '0'+ SeparadorDecimal + '0' + aux;
    if (len == 2) objTextBox.value = '0'+ SeparadorDecimal + aux;
    if (len > 2) {
        aux2 = '';
        for (j = 0, i = len - 3; i >= 0; i--) {
            if (j == 3) {
                aux2 += SeparadorMilesimo;
                j = 0;
            }
            aux2 += aux.charAt(i);
            j++;
        }
        objTextBox.value = '';
        len2 = aux2.length;
        for (i = len2 - 1; i >= 0; i--)
        objTextBox.value += aux2.charAt(i);
        objTextBox.value += SeparadorDecimal + aux.substr(len - 2, len);
    }
    return false;
}
</script>
    
