﻿<div class="sidebar">
        <div class="logopanel">
          <h1>
            <a href="{ROOT}/dashboard">{LOGO_EMPRESA} FollowUp</a>
          </h1>
        </div>
        <div class="sidebar-inner">
          <div class="sidebar-top">
            <div class="userlogged clearfix">
              <i class="icon icons-faces-users-01"></i>
              <div class="user-details">
                <h4>{NOME_USUARIO}</h4>
              </div>
            </div>
          </div>
          
          <ul class="nav nav-sidebar">
            <li class="{MENU1}"><a href="{ROOT}/dashboard"><i class="icon-home"></i> <span data-translate="FollowUp">FollowUp</span></a></li>
            <li class="{MENU2}"><a href="{ROOT}/transacoes"><i class="fa fa-exchange"></i> <span data-translate="transacoes">Movimentações Financeira</span></a></li>
             <li class="{MENU3}"><a href="{ROOT}/relatorios"><i class="fa fa-file-text-o"></i> <span data-translate="transacoes">Relatórios</span></a></li>
             <li class="{MENU5}"><a href="{ROOT}/clientes"><i class="fa fa-users"></i> <span data-translate="transacoes">Agenda Empresarial</span></a></li>
          </ul>
          <!-- SIDEBAR WIDGET FOLDERS -->
          
          <div class="sidebar-footer clearfix">
            
            <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Tela Inteira">
            <i class="icon-size-fullscreen"></i></a>
            <a class="pull-left" href="{ROOT}/alterar-empresa" data-rel="tooltip" data-placement="top" data-original-title="Alterar Empresa">
            <i class="fa fa-building-o"></i></a>
            <a class="pull-left btn-effect" href="?logout=logout" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Sair">
            <i class="icon-power"></i></a>
          </div>
        </div>
      </div>