﻿<style>.mega-dropdown-menu li ul li a{ color:#333 !important;}
	.mega-dropdown-menu li ul li a i{color:#333 !important;}</style>
<div class="topbar"><!-- {FOTO_PERFIL} --><!-- Olá, {NOME_USUARIO} -->
          <div class="header-left">
            <div class="topnav">
              <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
            </div>
          </div>
          <div class="header-right hidden-sm">
            <ul class="nav navbar-nav">
				<li><a href="#"style="font-size:25px; line-height:5px; padding-top:12px !important;"><i class="fa fa-bell"></i></a></li>
        		<li class="dropdown mega-dropdown">
					<a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown"style="font-size:25px; line-height:5px; padding-top:12px !important;"><i class="fa fa-gear"></i></a>

          <ul class="dropdown-menu mega-dropdown-menu row" style="position:relative;right:-500px; list-style:none;">
			  
            <li class="col-md-6">
              <ul>
                <li class="dropdown-header"><strong>Minhas Finanças</strong></li>
                <li class="{MENU4} {MENU4_1}" style="list-style:none;"><a href="{ROOT}/categorias"> Categorias</a></li>
                  <li class="{MENU4_2}" style="list-style:none;"><a href="{ROOT}/centros-de-custo"> Centros de Custo</a></li>
                  <li class="{MENU4_4}" style="list-style:none;"><a href="{ROOT}/contas-bancarias"> Contas de Movimentações</a></li>
                  <li class="{MENU4_6}" style="list-style:none;"><a href="{ROOT}/cartoes"> Cartões Débito/ Crédito</a></li>
              </ul>
            </li>
            <li class="col-md-6">
              <ul>
				  	<li class="dropdown-header"><strong>Minhas Empresas</strong></li>
                  <li style="list-style:none;">
					<a href="{ROOT}/meu-perfil"><i class="icon-user"></i><span>Meu Perfil</span></a>
				  </li>
				  <!-- BEGIN BLOCO_CONFIGURACOES -->
				  <li style="list-style:none;">
					<a href="{ROOT}/configuracoes"><i class="fa fa-paint-brush"></i><span>Layout do Sistema</span></a>
				  </li>
				  <li style="list-style:none;">
					<a href="{ROOT}/empresas"><i class="fa fa-building-o"></i><span>Empresas</span></a>
				  </li>
				  <li style="list-style:none;">
					<a href="{ROOT}/usuarios"><i class="fa fa-user"></i><span>Usuários</span></a>
				  </li>
				  <!-- END BLOCO_CONFIGURACOES -->
				  <li style="list-style:none;">
					<a href="?logout=logout"><i class="icon-logout"></i><span>Logout</span></a>
				  </li>
              </ul>
            </li>
     
          </ul>

        </li>
      		</ul>
          </div>
          <!-- header-right -->
        </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alterar Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>Selecione abaixo a empresa que deseja administrar:</p>
        <p><button class="btn btn-default col-md-12">Empresa 1 <i class="fa fa-check"></i></button></p>
        <p><button class="btn btn-default col-md-12">Empresa 2</button></p>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
